* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Asap", sans-serif;
}

body {
  font-size: 2rem;
}

.container {
  background-color: #f3f1ef;
}

.container .wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 2em 8em;
}

.wrapper .wrapper-tilte {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1em;
}

.wrapper .wrapper-tilte h2 {
  min-width: 600px;
  font-weight: 600;
}
.wrapper .wrapper-tilte .line {
  height: 2px;
  width: 100%;
  border: 1px solid #bfc1c4;
}

.wrapper .wrapper-province ul {
  display: flex;
  gap: 2em;
  font-size: 1.5rem;
}

.wrapper-province ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  background-color: #e4e4e4;
  border-radius: 99rem;
  padding: 1rem 2rem;
}

.wrapper-province ul > li > a > span {
  font-weight: 600;
  font-style: italic;
}

.wrapper-province ul li:hover a {
  color: #fff;
  background-color: #ae7b37;
}

.wrapper .wrapper-district {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  gap: 1.5em;
}

.wrapper-district .district-item {
  border-radius: 8px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 4px 1px #635b5b;
}

.wrapper-district .district-item h3,
.wrapper-district .district-item span {
  position: relative;
  color: #fff;
  z-index: 2;
}

.wrapper-district .district-item a:hover h3,
.wrapper-district .district-item a:hover span {
  color: #ae7b37;
}

.wrapper-district .district-item:hover {
  transform: rotate(1deg);
}

.wrapper-district .district-item .overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #0000004f;
  z-index: 0;
}

.wrapper-district .district-item a h3 {
  padding-bottom: 10em;
}

.wrapper-district .district-item:nth-child(1) {
  background: url(../../Day-8/img/item1.png) no-repeat center / cover;
}

.wrapper-district .district-item:nth-child(2) {
  background: url(../../Day-8/img/item2.jpg) no-repeat center / cover;
}

.wrapper-district .district-item:nth-child(3) {
  background: url(../../Day-8/img/item3.png) no-repeat center / cover;
}

.wrapper-district .district-item:nth-child(4) {
  background: url(../../Day-8/img/item4.jpg) no-repeat center / cover;
}

.wrapper-district .district-item:nth-child(5) {
  background: url(../../Day-8/img/item5.jpg) no-repeat center / cover;
}

.wrapper-district .district-item:nth-child(6) {
  background: url(../../Day-8/img/item6.jpg) no-repeat center / cover;
}
