/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todos {
    width: 400px;
    margin: 100px auto;
}

td {
    padding: 40px 20px;
    font-size: 30px;
}

thead tr td {
    text-align: right;
}

tbody tr td {
    text-align: center;
    font-weight: 900;
    background-color: rgb(189, 207, 214);
}
 
